.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header__logout {
    width: 30%;
    max-width: 250px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logout {
    color: #fff;
}

.header__logout-button {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}